<h1>Article</h1>
<% if notice.present? %>
       <p class="notice alert alert-danger"><%= notice %></p>         
<% end %>
<ul>
    <li><%= @article.title %></li>
    <li><%= @article.body %></li>
    <li><%= @article.created_at %></li>
    <li><%= @article.status %></li>
    <li><%= @article.users_id %></li>

    <li><%= link_to("Edit", edit_article_path(@article)) %></li>
    <li>
    <%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>

    <%= render "comments/comments" %>
    <%= render "comments/form" %>
</ul>
